html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
*{
  font-family: "Dosis", monospace;
  box-sizing: border-box;
  text-align: center;
}
.logo{
  font-weight: 200;
  font-size: 28px;
  float: left;
  margin: 10px 40px;
}
.logo span{
  font-weight: 600;
}
header{
  position: relative;
}
.top{
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 10px 2px rgba(50,50,50,0.2);
  display: inline-block;
  position:fixed;
  left: 0px;
  z-index: 99;
}
h1{
  margin: 340px auto;
  text-align: center;
  font-size: 100px;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}
.left{
  width: 50%;
  float: left;
  height: 900px;
  position: fixed;
  top: 62px;
  background-size: cover;
  z-index:4;
}
@-webkit-keyframes MOVE-BG {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 50% 50%;
    }
    100%{
      background-position: 0% 0%;
    }
}
.left {
      background-image: url('../IMG/watch.jpg');
      animation-name: MOVE-BG;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-background-image: url('../IMG/watch.jpg');
      -webkit-animation-name: MOVE-BG;
      -webkit-animation-duration: 30s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
  }
}
header ul{
    float: right;
}
header li{
  display: inline-block;
  margin: 10px 50px;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  list-style-type: none;
}
.right{
  position: relative;
  left: 50%;
  width: 50%;
  height: 900px;
  padding: 180px 40px;
  z-index: 3;
}
.right p{
  font-size: 40px;
  font-weight: 200;
}
.right path{
  position: relative;
  z-index: 2;
}
section::after{
  clear: both;
  display: block;
  content: '';
}
footer{
  position: fixed;
  bottom: 0px;
  width:100%;
  height: 24px;
  padding: 2px 0;
  display: block;
  background-color: black;
  color:white;
  z-index: 1;
}
#copy, #year{
  font-size: 14px;
  font-weight: 200;
}
#copy{
  float:left;
  margin-left: 50px;
}
#year{
  float:right;
  margin-right: 50px;
}
.button{
  background-color: black;
  color: white;
  padding: 10px 50px;
  border-radius: 2px;
  position: fixed;
  bottom: 50px;
  left: 50%;
}
.button:hover{
  background-color: #222;
  box-shadow: inset 0 0 5px 2px black;
}
