$mobile-width: 420px;
$tablet-width: 1200px;
$desktop-width: 1600px;

$col-number: 12;
$col-base: 100% / $col-number;

$direction: top, bottom, left, right;
$colors: red, blue, green, orange;

$body-color: #0CA;
$font-color: #707;
$mobile-color: #C0A;
$tablet-color: #0AC;
$padding: 12px;

$colors:(
header: #F0C,
footer: #C0F,
middle: #0FC,
second: #0CF,
third: #FC0,
fourth: #CF0,
);

$list: #F0C #C0F #0FC #0CF #FC0 #CF0;

$colors-map: (
top: #F0C,
bottom: #0CF,
left: #FC0,
right: #CF0,
);
