$mobile-width: 420px;
$tablet-width: 1200px;
$desktop-width: 1600px;

$col-number: 12;
$col-base: 100% / $col-number;


$body-color: #0CA;
$font-color: #707;
$mobile-color: #C0A;
$tablet-color: #0AC;
