*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
body{
  @include timeOfDay(night);
  color: $font-color;
}
html{
  font-size: 20px;
}
li{
  list-style-type: none;
}
.list{
  display: flex;
  flex-wrap: wrap;
li{
    padding-left: 20px;
    margin-left: 20px;
    padding: $padding;
  &:nth-child(2){
      color: hotpink;
    }
  a{
    text-decoration: none;
    cursor: pointer;
    color: $font-color;
    &:visited{
      color: inherit;
    }

  }}}
.container{
  margin: 10px auto;
  width: 80vw;
  max-width: 1200px;
  height: 100%;
  display: flex;
  border: 1px solid #0F0;
  background-color: $mobile-color;
  @include breakpoint(tablet){
    display: flex;
    background-color: $tablet-color;
  }
  @include breakpoint(desktop){
    display: flex;
    background-color: $body-color;
  }
}

h1{
  font-weight: 700;
  &:hover{
    background-color: $font-color;
  }
  &:active{
    background-color: #0F0;
  }
}


$direction: "top", "bottom", "left", "right";

.container2{
  font-size: 2rem;
  width: 80vw;
  height: 50vh;
  margin: 0 auto;
  border: 25px solid;
  background-color: white;
  padding: 20px;
  @include borders(top);
  @include borders(bottom);
  @include borders(left);
  @include borders(right);


  ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    @for $i from 1 through 5 {                 //pętla for
      li{
        &:nth-child(#{$i}){
          color: nth($list, $i);
            }

      }
      @media (max-width: 400px){
        flex-flow: column;
        li{
          margin: 20px;
        }

      }
  }


  }

}

h1{
  background-color: map-get($colors-map, top);
  font-size: 1em;
}


%arrow{
    border: 30px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
    margin: 10px;
}

@mixin arrow($color, $direction) {
  border-#{$direction}-color: $color;
  margin-#{$direction}: 40px;
}



@each $item in $direction {
  .arrow-#{$item}{
    @include arrow(blue, $item);
    @extend %arrow ;
  }
}

//ważne!! placeholder nie podwaja styli dla kontenera.

%message{
  width: 300px;
  height: 100px;
  border: 2px solid
}

.success{
  @extend %message;
    border-color: darken(yellow, 20);
    background-color: yellow;
  }
.error{
  @extend %message;
  border-color: darken(red, 20);
  background-color: red;
}
.info{
  @extend %message;
  border-color: darken(aqua, 20);
  background-color: aqua;
}
